<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Navigation</h3>
                    <ul>
                        <li><a href="{{ '/' | relative_url }}">Startseite</a></li>
                        <li><a href="{{ '/informationen' | relative_url }}">Informationen</a></li>
                        <li><a href="{{ '/geschichte' | relative_url }}">Geschichte</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Autor &amp; Spenden</h3>
                    <ul>
                        <li><a href="{{ '/unterstützen' | relative_url }}">Unterstützen</a></li>
                        <li><a href="{{ '/kontakt' | relative_url }}">Kontakt</a></li>
                        <li><a href="https://rafaelurben.ch">Autor*</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Infos</h3>
                    <p>Der KMUHelper ist eine OpenSource-Software, d.h. sie ist kostenlos. Jedoch heisst dies auch, dass
                        der Entwickler keine Verantwortung übernimmt und die Verwendung auf eigene Gefahr verläuft.</p>
                </div>
                <div class="col item social">
                    <a href="https://instagram.com/kmuhelper">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://github.com/rafaelurben/django-kmuhelper">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="mailto:kmuhelper@rafaelurben.ch">
                        <i class="far fa-envelope"></i>
                    </a>
                    <a href="https://www.patreon.com/rafaelurben">
                        <i class="fab fa-patreon"></i>
                    </a>
                </div>
            </div>
            <p class="copyright">Rafael Urben © 2021&nbsp;</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>