<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Navigation</h3>
                    <ul>
                        <li><a href="{{ '/' | relative_url }}">Startseite</a></li>
                        <li><a href="{{ '/informationen' | relative_url }}">Informationen</a></li>
                        <li><a href="{{ '/geschichte' | relative_url }}">Geschichte</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Autor &amp; Spenden</h3>
                    <ul>
                        <li><a href="{{ '/unterstützen' | relative_url }}">Unterstützen</a></li>
                        <li><a href="{{ '/kontakt' | relative_url }}">Kontakt</a></li>
                        <li>
                            <a href="https://rafaelurben.ch">
                                Autor<i class="ms-2 fa-solid fa-arrow-up-right-from-square fa-sm"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Infos</h3>
                    <p>Der KMUHelper ist eine kostenlose Open-Source-Software. Ich als Entwickler übernehme
                        keine Verantwortung und die Verwendung verläuft auf eigene Gefahr.</p>
                </div>
                <div class="col item social">
                    <a href="https://github.com/rafaelurben/kmuhelper" title="Auf GitHub ansehen">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="mailto:kmuhelper@rafaelurben.ch" title="Via E-Mail kontaktieren">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                    <a href="https://www.patreon.com/rafaelurben" title="Auf Patreon unterstützen">
                        <i class="fa-brands fa-patreon"></i>
                    </a>
                </div>
            </div>
            <p class="copyright">Rafael Urben © 2021-2024</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"
        integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
